.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.fdc {
  flex-direction: column;
}
.fw {
  flex-wrap: wrap;
}
.f1 {
  flex: 1;
}

.cp {
  cursor: pointer;
}

.round {
  border-radius: 10px;
}

.danger {
  background-color: #bb2222;
}

.t-b {
  font-weight: bold;
}

.mb-2 {
  margin-bottom: 2rem;
}