.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.fdc {
  flex-direction: column;
}
.fw {
  flex-wrap: wrap;
}
.f1 {
  flex: 1;
}

.cp {
  cursor: pointer;
}
