
.App {
  text-align: center;
}

button {
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-image: linear-gradient(108deg, #2230b2, rgb(223, 45, 33));
  color: whitesmoke;
  border-radius: 10px;
  font-size: 15px;
  transition: all .01s .01s ease-in-out;
  font-size: 25px;
}

button:hover {
  background-image: linear-gradient(172deg, #2224b2, rgb(223, 45, 33));
}

input {
  border: none;
  padding: 10px;
  min-width: 200px;
  margin: 10px 10px;
  background-color: #eee;
}

hr {
  border: none;
  height: 2px;
  background-color: slateblue;
  margin: 10px;
}


.landing {
  /*background: url('https://pixabay.com/get/55e4d14a4e50ae14f6d1867dda20357b1d3dd9e14e507440722a7cdc954ccc_1920.png');*/
  background-image: linear-gradient(#7b4397, #dc2430);
  background-color: red;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;  
}
.home-landing {
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background: url('https://pixabay.com/get/52e7dd404e51ac14f6d1867dda20357b1d3dd9e14e507440722a7cdc9249c0_1920.png');*/
}

.home-landing > div {
  background-color: whitesmoke;
  padding: 10px;
  color: #252323;
  font-size: 50px;
}

.create-landing {
  background: url('https://pixabay.com/get/55e4d14a4e50ae14f6d1867dda20357b1d3dd9e14e507440722a7cdc954ccc_1920.png');
}

.rb-wapper {
  display: flex;
  height: 90vh;
  padding: 10px;
}

.rb-form {
  flex: 1;
  background-color: skyblue;
}

.rb-form > form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.rb-preview {
  flex: 1.5;
  display: flex;
  margin: 0px 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #ddd;
}

.rb-preview-wapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.rbp-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbp-input-group .label{
  margin: 0px 10px;
}
.rbp-input-group .icon {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}
.rbp-input-group .label::after {
  content: ':';
}

.rbp-top {
 
}

.rbp-top .rbp-top-1 .pre-name {
  letter-spacing:8px;
  margin: 5px 0px;
}

.rbp-top .rbp-top-2 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.rbp-body {
  display: flex;
  flex: 1;
}
.rbp-body .heading {
  font-size: large;
  font-weight: bold;
}

.rbp-body-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 10px 0px;
}
.rbp-body-section .heading {
  margin-bottom: 10px;
}
.rbp-body-left{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 2;
}
.rbp-body-right{
  display: flex;
  padding: 10px;
  background-color: skyblue;
  flex: 1;
}
