@import './styles/common.scss';

:root {
  --themeColor: #5E5D5C;
}

.App {
  text-align: center;
}

.button-gra {
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-image: linear-gradient(108deg, #2230b2, rgb(223, 45, 33));
  color: whitesmoke;
  border-radius: 10px;
  font-size: 15px;
  transition: all .01s .01s ease-in-out;
  font-size: 25px;
}

.button-gra:hover {
  background-image: linear-gradient(172deg, #2224b2, rgb(223, 45, 33));
}

input {
  border: none;
  padding: 10px;
  margin: 10px 10px;
  background-color: #eee;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--themeColor);
  margin-bottom: 10px;
}


.landing {
  /*background: url('https://pixabay.com/get/55e4d14a4e50ae14f6d1867dda20357b1d3dd9e14e507440722a7cdc954ccc_1920.png');*/
  background-image: linear-gradient(#7b4397, #dc2430);
  background-color: red;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;  
}
.home-landing {
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: url('https://pixabay.com/get/52e7dd404e51ac14f6d1867dda20357b1d3dd9e14e507440722a7cdc9249c0_1920.png'); */
}

.home-landing > div {
  background-color: whitesmoke;
  padding: 10px;
  color: #252323;
  font-size: 50px;
}

.create-landing {
  background: #f1f1f1;
}
.create-landing-title {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  height: 5vh;
}

.rb-wapper {
  display: flex;
  height: 92vh;
  padding: 10px;
}
/* ------------------------------FORM------------------------------- */
.rb-form-wapper {
  flex: 1;
  background-color: skyblue;
}

.rb-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rb-add-btn {
  border: none;
  margin: 10px;
  padding:10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-tabs {
  display: flex;
}
.form-tabs-item {
  flex: 1;
  cursor: pointer;
  padding: 10px;
}
.form-tabs-item:hover {
  background-color: var(--themeColor);
  color: white;
}

.form-tabs .active {
  background-color: black;
  color: white;
}
.single-project-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* --------------------------------PREVIEW----------------------------- */

.rb-preview {
  flex: 2;
  display: flex;
  margin: 0px 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #ddd;
}

.rb-preview-wapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rbp-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbp-input-group .label{
  margin: 0px 10px;
}
.rbp-input-group .icon {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}
.rbp-input-group .label::after {
  content: ':';
}

.rbp-top {
}
.rbp-top .rbp-top-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10vh;
}
.rbp-top .rbp-top-1 .pre-name {
  letter-spacing:8px;
  margin: 5px 0px;
}

.rbp-top .rbp-top-2 {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.rbp-body {
  display: flex;
  flex: 1;
}
.rbp-body .heading {
  font-size: large;
  font-weight: bold;
}

.rbp-body-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 10px 0px;
}
.rbp-body-section .heading {
  margin-bottom: 10px;
}
.rbp-body-left{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 2;
}

.rbp-body-left .single-project-item {
  margin-bottom: 2px;
}
.rbp-body-left .single-project-item .single-project-item-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.rbp-body-left .single-project-item .single-project-item-description {
  margin-left: 5px;
  font-style: italic;
}
.rbp-body-left .single-project-item .single-project-item-description::before {
  content: ' - ';
}


.rbp-body-right{
  display: flex;
  padding: 10px;
  background-color: var(--themeColor);
  flex: 1;
}

/* ------------------------------Settings----------------------- */

.rb-settings {
  display: flex;
  flex: 1;
  background-color: white;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

.single-theme-item {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  cursor: pointer;
  margin: 5px;
}